body {
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;

}

/* HEADER */
header {
  background-color: #1F1F3D;
  height: 11vh;
}

#header-text {
  color: #FFFFFF;
  display: inline-block;
  font-size: 32px;
  font-weight: 800;
  margin: 17px;
  text-transform: uppercase;
}

span {
  color: #FFC30C;
}

.search-bar {
  display: inline-block;
  float: right;
  height: 49%;
  margin: 20px;
  width: 30%;
}

.search-bar button {
  background: #C7C3D8;
  border: 0px solid #C7C3D8;
  border-radius: 2px 0px 0px 2px;
  float: left;
  font-size: 17px;
  height: 100%;
  margin: 0px;
  padding: 1px;
  width: 9%;
}

#search-btn {
  margin-top: 15%;
  width: 60%;
}

.search-bar input {
  background: #FFFFFF;
  border: 0px solid #1F1F3D;
  border-radius: 0px 2px 2px 0px;
  display: inline-block;
  float: left;
  height: 97%;
  width: 90%;
}

/* MAIN */
main {
  display: flex;
  flex-direction: row;
  height: 89vh;
  width: 100vw;
}

/* ASIDE */
aside {
  background-color: #587A8A;
  color: #C7C3D8;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 16px;
  width: 30%;
}

aside button {
  background-color: #1F1F3D;
  border: solid 1px #1F1F3D;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 16px;
  height: 6%;
  margin: 7px 0px;
  padding: 10px;
}

aside input {
  border: solid 1px #1F1F3D;
  border-radius: 2px;
  height: 12%;
}

.task-title-input {
  height: 13%;
  margin: 5% 0% 0%;
  width: 100%;
}

.task-title-input input {
  display: block;
  height: 40%;
  width: 99%;
}

.task-item-input {
  height: 13%;
  width: 100%;
}

.task-item-input input {
  background: #FFFFFF;
  border: 1px solid #1F1F3D;
  border-radius: 2px 0px 0px 2px; 
  float: left;
  height: 40%;
  width: 89%;
}

.task-item-input button {
  background: #1F1F3D;
  border: 1px solid #1F1F3D;
  border-radius: 0px 2px 2px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
  font-size: 17px;
  height: 45%;
  margin: 0px;
  padding: 0px;
  width: 10%;
}

.task-item-input p {
  font-size: 25px;
  margin: 0;
}

/* CARD SECTION */
#card-section {
  width: 70%;
}

.task-list-card {
  background-color: #FEE89D;
  border: 2px solid #FFC30C;
  color: #1F1F3D;
  padding: 10px;
  width: 40%;
}

.task-list-card h3 {
  border-bottom: 2px solid #FFC30C;
}

.tasks-section {
  border-bottom: 2px solid #FFC30C;
}

.task-list-card img {
  width: 5%;
}

.task-list-card p {
  display: inline-block;
}

.task {
  width: 90%;
}

.card-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-icons img{
  width: 13%
}

.card-icons p {
  font-size: 12px;
  margin: 0;
}

.urgent {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  float: left;
}

.delete {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  float: right;
}